ParceiroAcomodacao.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ParceiroAcomodacao/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ParceiroAcomodacao" targetNamespace="http://www.example.org/ParceiroAcomodacao/" xmlns:xsd1="http://www.example.org/hotel">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ParceiroAcomodacao/">
      <xsd:element name="Buscar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BuscarResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.example.org/hotel"
    		schemaLocation="../bin/hotel.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="BuscarRequest">
    <wsdl:part element="xsd1:HotelInput" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BuscarResponse">
    <wsdl:part element="xsd1:HotelOutput" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ParceiroAcomodacao">
    <wsdl:operation name="Buscar">
      <wsdl:input message="tns:BuscarRequest"/>
      <wsdl:output message="tns:BuscarResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ParceiroAcomodacaoSOAP" type="tns:ParceiroAcomodacao">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Buscar">
      <soap:operation soapAction="http://www.example.org/ParceiroAcomodacao/Buscar"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ParceiroAcomodacao">
    <wsdl:port binding="tns:ParceiroAcomodacaoSOAP" name="ParceiroAcomodacaoSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
